<style>
    .articles-intro {
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
</style>
<div id="blog_home" class="menu-recent owl-style3">
    <div>
        <div class="blog-title module-title">
            <h2>From Our Blog</h2>
            <p class="module-description">Mirum est notare quam littera gothica, quam nunc putamus parum claram anteposuerit litterarum formas.</p>
        </div>
        <div class="articles-container owl-carousel owl-theme">
            {% for blog in blogs %}
            <div class="row_items">
                <div class="articles-inner item-inner">
                    <div class="articles-image">
                        <img src="{{blog.img}}" alt="{{blog.name}}"/>
                        <div class="articles-date">
                            {{blog.month}}
                            <span>{{blog.day}}</span>
                        </div>
                    </div>
                    <div class="aritcles-content">
                        <a class="articles-name" href="{% url 'store:blog_view' blog.id %}">{{blog.name}}</a>
                        <span>{{blog.place}}</span>
                        <div class="articles-intro">
                            {{blog.description|safe}}
                        </div>
                        <div class="readmore">
                            <a href="{% url 'store:blog_view' blog.id %}">Read more ...</a>
                        </div>
                    </div>												
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
    <script type="text/javascript">
    $(document).ready(function() {
    $(".articles-container").owlCarousel({
    autoPlay :  false ,
    items : 3,
    margin: 30,
    loop: true,			
    navSpeed : 1000,
    dotsSpeed : 1000,
    autoplaySpeed : 1000,
    nav :  true ,
    dots :  false ,
    navText : ['<i class="ion-chevron-left"></i>','<i class="ion-chevron-right"></i>'],
    responsive:{
        0:{
            items: 1
        },
        480:{
            items: 1
        },
        640:{
            items: 2
        },
        991:{
            items: 2
        },
        1200:{
            items: 3
        }
    }
    });
    });
    </script>
