<div id="blog_home" class="menu-recent owl-style3">
    <div>
    <div class="blog-title module-title">
    <h2>From Our Blog</h2>
    <p class="module-description">Mirum est notare quam littera gothica, quam nunc putamus parum claram anteposuerit litterarum formas.</p>
    </div>
         
            <div class="articles-container owl-carousel owl-theme">
                                    <div class="row_items">
                                            <div class="articles-inner item-inner">
                <div class="articles-image">
                    <img src="http://mimosa4.demo.towerthemes.com/image/cache/catalog/blog/blog1-370x235.jpg" alt="Aypi non habent claritatem  insitam."/>
                    <div class="articles-date">
                        Aug
                        <span>09</span>
                    </div>
                </div>
                <div class="aritcles-content">
                    <a class="articles-name" href="http://mimosa4.demo.towerthemes.com/index.php?route=blog/article&amp;article_id=1">Aypi non habent claritatem  insitam.</a>
                                                    
                        <span>Plazathemes</span>
                                                
                    <div class="articles-intro">Aypi non habent claritatem  insitam. Aypi non habent claritatem  insitam. Aypi non habent claritatem  insitam.Aypi non habent claritatem  insitam. Aypi non habent claritatem  insitam.</div>
                    <div class="readmore"><a href="http://mimosa4.demo.towerthemes.com/index.php?route=blog/article&amp;article_id=1">Read more ...</a></div>
                </div>												
            </div>
                        </div>
                                                    <div class="row_items">
                                            <div class="articles-inner item-inner">
                <div class="articles-image">
                    <img src="http://mimosa4.demo.towerthemes.com/image/cache/catalog/blog/blog2-370x235.jpg" alt="Bypi non habent claritatem  insitam."/>
                    <div class="articles-date">
                        Aug
                        <span>09</span>
                    </div>
                </div>
                <div class="aritcles-content">
                    <a class="articles-name" href="http://mimosa4.demo.towerthemes.com/index.php?route=blog/article&amp;article_id=2">Bypi non habent claritatem  insitam.</a>
                                                    
                        <span>Plazathemes</span>
                                                
                    <div class="articles-intro">Aypi non habent claritatem  insitam. Aypi non habent claritatem  insitam. Aypi non habent claritatem  insitam.Aypi non habent claritatem  insitam. Aypi non habent claritatem  insitam. <br></div>
                    <div class="readmore"><a href="http://mimosa4.demo.towerthemes.com/index.php?route=blog/article&amp;article_id=2">Read more ...</a></div>
                </div>												
            </div>
                        </div>
                                                    <div class="row_items">
                                            <div class="articles-inner item-inner">
                <div class="articles-image">
                    <img src="http://mimosa4.demo.towerthemes.com/image/cache/catalog/blog/blog3-370x235.jpg" alt="Cypi non habent claritatem  insitam."/>
                    <div class="articles-date">
                        Aug
                        <span>09</span>
                    </div>
                </div>
                <div class="aritcles-content">
                    <a class="articles-name" href="http://mimosa4.demo.towerthemes.com/index.php?route=blog/article&amp;article_id=3">Cypi non habent claritatem  insitam.</a>
                                                    
                        <span>Plazathemes</span>
                                                
                    <div class="articles-intro">Aypi non habent claritatem  insitam. Aypi non habent claritatem  insitam. Aypi non habent claritatem  insitam.Aypi non habent claritatem  insitam. Aypi non habent claritatem  insitam. <br></div>
                    <div class="readmore"><a href="http://mimosa4.demo.towerthemes.com/index.php?route=blog/article&amp;article_id=3">Read more ...</a></div>
                </div>												
            </div>
                        </div>
                                                    <div class="row_items">
                                            <div class="articles-inner item-inner">
                <div class="articles-image">
                    <img src="http://mimosa4.demo.towerthemes.com/image/cache/catalog/blog/blog1-370x235.jpg" alt="Dypi non habent claritatem  insitam."/>
                    <div class="articles-date">
                        Aug
                        <span>09</span>
                    </div>
                </div>
                <div class="aritcles-content">
                    <a class="articles-name" href="http://mimosa4.demo.towerthemes.com/index.php?route=blog/article&amp;article_id=4">Dypi non habent claritatem  insitam.</a>
                                                    
                        <span>Plazathemes</span>
                                                
                    <div class="articles-intro">Aypi non habent claritatem  insitam. Aypi non habent claritatem  insitam. Aypi non habent claritatem  insitam.Aypi non habent claritatem  insitam. Aypi non habent claritatem  insitam. <br></div>
                    <div class="readmore"><a href="http://mimosa4.demo.towerthemes.com/index.php?route=blog/article&amp;article_id=4">Read more ...</a></div>
                </div>												
            </div>
                        </div>
                                </div>
    </div>
    
    </div>
    <script type="text/javascript">
    $(document).ready(function() {
    $(".articles-container").owlCarousel({
    autoPlay :  false ,
    items : 3,
    margin: 30,
    loop: true,			
    navSpeed : 1000,
    dotsSpeed : 1000,
    autoplaySpeed : 1000,
    nav :  true ,
    dots :  false ,
    navText : ['<i class="ion-chevron-left"></i>','<i class="ion-chevron-right"></i>'],
    responsive:{
        0:{
            items: 1
        },
        480:{
            items: 1
        },
        640:{
            items: 2
        },
        991:{
            items: 2
        },
        1200:{
            items: 3
        }
    }
    });
    });
    </script>
