<div class="row">
    <div class="col-sm-12">
        
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td class="text-center">Memo No.</td>
                        <td class="text-left">Method</td>
                        <td class="text-left">Date</td>
                        <td class="text-left">Total</td>
                        <td class="text-left">Paid</td>
                        <td class="text-left">Due</td>
                        <td class="text-center">View</td>
                    </tr>
                </thead>
                <tbody>
                    {% for order in filterOrders %}
                    <tr>
                        <td class="text-center">{{order.id}}</td>
                        <td class="text-left">
                            {% if order.method == 'cod' %}
                            Cash on delivery
                            {% else %}
                            {{order.method}} - {{order.transaction_id}}
                            {% endif %}
                        </td>
                        <td class="text-left">{{order.date_created|date:'M d, Y'}}</td>
                        <td class="text-left">{{order.total|floatformat:2}}&#2547;</td>
                        <td class="text-left">{{order.advance|floatformat:2}}&#2547;</td>
                        <td class="text-left">{{order.due|floatformat:2}}&#2547;</td>
                        <td class="text-center">
                            <a href="{% url 'store:order_view' order.id %}" style="
                            background: #4cb4c7;
                            color: #fff;
                            padding: 2px 4px;
                            border: 1px solid #ddd;
                            border-radius: 7px;">
                                <i class="fa fa-eye" aria-hidden="true" style="font-size: 15px;"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}     
                </tbody>
            </table>
        </div>
    </div>
</div>