{% load static %}

<style>
    #logo a img {
        width: 85px;
    }
    #logo{
        margin-top: -15px;
    }
    .has-scroll .table tbody tr td a img{
        max-width: 55px;
    }
    .text-left span{
        font-size: 10px;
    }
    .darkmode-label{
        width: 75px;
        height: 36px;
        position: relative;
        display: block;
        background: #ebebeb;
        border-radius: 200px;
        box-shadow: inset 0px 1px 4px rgba(0,0,0,0.4),inset 0px -1px 4px rgba(255,255,255,0.4);
        cursor: pointer;
        transition: 0.3s;
    }
    .darkmode-label::after{
        content: "";
        width: 30px;
        height: 30px;
        position: absolute;
        top: 3px;
        left:3px;
        background: linear-gradient(180deg, #ffcc89,#d8860b);
        border-radius: 15px;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
        transition: 0.3s;
    }
    .darkmode-input{
        width: 0;
        height: 0;
        visibility: hidden;
    }
    .darkmode-input:checked + .darkmode-label{
        background: #242424;
    }
    .darkmode-input:checked + .darkmode-label::after{
        left: 72px;
        transform: translateX(-100%);
        background: linear-gradient(180deg ,#777,#3a3a3a);
    }
    .darkmode-label:active::after{
        width: 40px;
    }
    .darkmode-label i{
        position: absolute;
        font-size: 22px !important;
        top :6px;
        z-index: 100;
    }
    .darkmode-label i.sun{
        left: 7px;
        color: #fff;
        transition: 0.3s;
    }
    .darkmode-label i.moon{
        left: 49px;
        color: #7e7e7e;
        transition: 0.3s;
    }
    .darkmode-input:checked +.darkmode-label i.sun{
        color: #7e7e7e;
    }
    .darkmode-input:checked +.darkmode-label i.moon{
        color: #fff;
    }
</style>
<script>
    $(document).ready(function() {
        /* Search */
        $('#search input[name=\'search\']').parent().find('button').on('click', function() {
            var base = 'http://127.0.0.1:8000/'
            var url =  base + 'product/search';

            var value = $('header #search input[name=\'search\']').val();

            if (value) {
                url += '=' + encodeURIComponent(value);
            }

            location =  url;
        });
        // $('.darkmode-input').on('click',function(){
        //     var checkBox = document.getElementById("darkmode-toggle");
        //     if(checkBox.checked == true){
        //         localStorage.setItem("modeValue", 'off');
        //         $('.modeText').text('Night')
        //     }else{
        //         localStorage.setItem("modeValue", 'on');
        //         $('.modeText').text('Day')
        //     }
        // })
        // var modeValue = $('#darkmode-toggle').val()
        // localStorage.setItem("modeValue", modeValue);
        // if(localStorage.getItem('modeValue') == 'on'){
        //     $('.modeText').text('Day')
        // }else{
        //     $('.modeText').text('Night')
        // }
    })
    
</script>
<header>
	<div class="container-fix">
        <div class="logo-container pull-left">
            <div id="logo">
                <a href="{% url 'store:home' %}">
                    <img src="{% static 'images/Logo-Light.png' %}" title="H A S H T A G" alt="H A S H T A G" class="img-responsive" />
                </a>
            </div>
        </div>
	
	    <div class="block-right pull-right">			
            <div class="setting pull-right"> 
			    <button data-toggle="dropdown" type="button">
                    <i class="ion-drag"></i>
                </button>
			    <nav id="top" class="dropdown-menu">
				    <ul class="list-unstyled top-links">
                        <li>
                            <div>
                                <span class="text-ex">Interface Mode</span>
                                <div class="mode" style="display: flex;justify-content: center;align-items: center;">
                                    <div class="mode_text" style="flex: 2;">
                                        <p class="modeText">Light Mode</p>
                                    </div>
                                    <div class="mode_input">
                                        <div id="top-links">
                                            <input type="checkbox" class="darkmode-input" id="darkmode-toggle">
                                            <label for="darkmode-toggle" class="darkmode-label" style="
                                            top: -10px;
                                        ">
                                                <i class="fa fa-sun-o sun" ></i>
                                                <i class="fa fa-moon-o moon" ></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>	
                        <li>
                            <div>
                                <span class="text-ex">My Account</span>
                                {% if request.user.is_authenticated %}
                                <div class="profile">
                                    <div class="row">
                                        <div class="col-sm-6" style="width: auto;">
                                            <img style="height: 50px; float:right;" src="{{request.user.customer.profile_pic.url}}" alt="">
                                        </div>
                                        <div class="col-sm-6" style="padding-left: 0px;">
                                            <a href="{% url 'store:account_profile' request.user.id %}" style="margin-top: 10px;">{{request.user.first_name}} {{request.user.last_name}}</a>
                                        </div>
                                    </div>
                                    <a href="{% url 'store:logout' %}" class="btn btn-sm btn-primary">Logout</a>
                                </div>
                                {% else %}
                                <div id="top-links">
                                    <ul class="ul-account list-unstyled">
                                        <li>
                                            <a id="a-register-link" href="{% url 'store:sign_up' %}">Register</a>
                                        </li>
                                        <li>
                                            <a id="a-login-link" href="{% url 'store:login' %}">Login</a>
                                        </li>
                                    </ul>
                                </div>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="cart-container pull-right">
                <div id="cart" class="btn-group btn-block">
                    <button type="button" data-toggle="dropdown" data-loading-text="Loading..." class="btn dropdown-toggle">
                        <i class="ion-bag"></i> 
                        <span id="cart-total">{{cartItems}}</span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        {% if cartItems <= 0 %}
                        <li>
                            <p class="text-center cart-empty">Your shopping cart is empty!</p>
                        </li>
                        {% else %}
                        <li class="has-scroll">
                            <table class="table">
                                <tbody>
                                    {% for item in items %}
                                    <tr>
                                        <td class="text-center">
                                            <a href="{% url 'store:product_view' item.product.id %}">
                                                {% for i in item.image %}
                                                <img class="cart-image" src="{{i.n_img.url}}" alt="{{item.product.name}}" title="{{item.product.name}}">
                                                {% endfor %}
                                            </a> 
                                        </td>
                                        <td class="text-left info-item">
                                            <a href="{% url 'store:product_view' item.product.id %}">{{item.product.name}}</a>
                                            <p class="cart-quantity">×{{item.quantity}}</p>
                                            <p class="cart-price">&#2547;{{item.product.price}}</p>
                                        </td>          
                                        <td class="text-center cart-close">
                                            <button type="button" data-product="{{item.product.id}}" data-action="delete" title="Remove" class="btn btn-danger update-cart btn-xs">
                                                <i class="ion-android-close"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}     
                                </tbody>
                            </table>
                        </li>
                        <li>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="text-left">Sub-Total :</td>
                                        <td class="text-right">&#2547;{{cartTotal}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Charges<span>(Inside Dhaka)</span> :</td>
                                        <td class="text-right">&#2547;{{delivery_charge}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Total :</td>
                                        <td class="text-right">&#2547;{{total}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="text-center cart-button">
                                <a href="{% url 'store:cart' %}">View Cart</a>
                                <a href="{% url 'store:checkout' %}">Checkout</a>
                            </p>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="search-containers pull-right">
                <div class="search-container">
                    <i class="ion-ios-search-strong"></i>
                    <div class="search-content">
                        <div class="container">
                            <div id="search">
                                <h1>Search</h1>
                                    <input type="text" name="search" value="" placeholder="Search" class="form-control input-lg" />
                                    <button type="button" class="btn btn-default btn-lg"><i class="ion-ios-search-strong"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(document).ready(function() {
                        $('.search-container > i').click(function(){
                            $(".search-content").slideToggle();
                            $(this).toggleClass("ion-ios-search-strong ion-android-close")
                        });
                    });
                </script>
               
            </div>			
        </div>	
	    <div class="container">
		    <div class="main-menu">
				<div class="hozmenu-container">
	                <div class="ma-nav-mobile-container">
		                <div class="hozmenu">
			                <div class="navbar">
				                <div id="navbar-inner" class="navbar-inner navbar-inactive">
						            <div class="menu-mobile">
							            <a class="btn btn-navbar navbar-toggle">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </a>
                                        <span class="brand navbar-brand">Menu</span>
                                    </div>
				
					                <ul id="ma-mobilemenu" class="mobilemenu nav-collapse collapse">
                                        {% for i in nvCategorys %}
                                        <li>
                                            <a href="{% url 'store:category_view' i.id %}">{{i.name}}</a>
                                        </li>
                                        {% endfor %}
                                        {% if blogs %}
                                        <li><a href="{% url 'store:blogs'%}">Blogs</a></li>
                                        {% endif %}
                                    </ul> 
				
			                    </div>
			                </div>
		                </div>
	                </div>
                    <div class="nav-container visible-lg visible-md">		
		                <div id="pt_custommenu" class="pt_custommenu">
				            <div id="pt_menu_home" class="pt_menu">
                                <div class="parentMenu">
                                    <a href="{% url 'store:home' %}">
                                        <span>Home</span>
                                    </a>
                                </div>
                            </div>
                            {% for i in nvCategorys %}
                            <div id="{% cycle 'pt_menu25' 'pt_menu57' 'pt_menu20' 'pt_menu_link25'%}" class="{% cycle 'pt_menu nav-1' 'pt_menu nav-2 pt_menu_no_child' 'pt_menu nav-3' 'pt_menu' %}">
                                <div class="parentMenu">
                                    <a href="{% url 'store:category_view' i.id %}">
                                        <span>{{i.name}}</span>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                            <div id="pt_menu_link25" class="pt_menu">
                                <div class="parentMenu">
                                    <a href="{% url 'store:blogs'%}">
                                        <span>Blogs </span>
                                    </a>
                                </div>
                            </div>
		                </div>
	                </div>
                </div>
                <div id="sticky-menu" data-sticky="1"></div>
			</div>
	    </div>
	</div>
</header>
<script>
    var checkbox = document.getElementById("darkmode-toggle"); //get the checkbox to a variable

    //check storage if dark mode was on or off
    if (localStorage.getItem("modeValue") == "off") {
        darkmode(); //if dark mode was on, run this funtion
    } else {
        nodark(); //else run this funtion
    }

    //if the checkbox state is changed, run a funtion
    $('.darkmode-input').on('click',function(){
        if(checkbox.checked == true){
            darkmode()
        }else{
            nodark()
        }
    })

    //function for checkbox when checkbox is checked
    function darkmode() {
        document.body.classList.add("dark"); 
        checkbox.checked = true;
        localStorage.setItem("modeValue", 'off');
        $('.modeText').text('Night'); //store a name & value to know that dark mode is on
    }

    //function for checkbox when checkbox is not checked
    function nodark() {
        document.body.classList.remove("dark"); 
        checkbox.checked = false;
        localStorage.setItem("modeValue", 'on');
        $('.modeText').text('Day')
    }
</script>