{% load static %}

<style>
    #logo a img {
        width: 85px;
    }
    #logo{
        margin-top: -15px;
    }
    .has-scroll .table tbody tr td a img{
        max-width: 55px;
    }
    .text-left span{
        font-size: 10px;
    }
</style>
<header>
	<div class="container-fix">
        <div class="logo-container pull-left">
            <div id="logo">
                <a href="{% url 'store:home' %}">
                    <img src="{% static 'images/Logo-Light.png' %}" title="H A S H T A G" alt="H A S H T A G" class="img-responsive" />
                </a>
            </div>
        </div>
	
	    <div class="block-right pull-right">			
            <div class="setting pull-right"> 
			    <button data-toggle="dropdown" type="button">
                    <i class="ion-drag"></i>
                </button>
			    <nav id="top" class="dropdown-menu">
				    <ul class="list-unstyled top-links">		
                        <li>
                            <div>
                                <span class="text-ex">My Account</span>
                                <div id="top-links">
                                    <ul class="ul-account list-unstyled">
                                        <li>
                                            <a id="a-register-link" href="#">Register</a>
                                        </li>
                                        <li>
                                            <a id="a-login-link" href="#">Login</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="cart-container pull-right">
                <div id="cart" class="btn-group btn-block">
                    <button type="button" data-toggle="dropdown" data-loading-text="Loading..." class="btn dropdown-toggle">
                        <i class="ion-bag"></i> 
                        <span id="cart-total">{{cartItems}}</span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        {% if cartItems <= 0 %}
                        <li>
                            <p class="text-center cart-empty">Your shopping cart is empty!</p>
                        </li>
                        {% else %}
                        <li class="has-scroll">
                            <table class="table">
                                <tbody>
                                    {% for item in items %}
                                    <tr>
                                        <td class="text-center">
                                            <a href="{% url 'store:product_view' item.product.id %}">
                                                {% for i in item.image %}
                                                <img class="cart-image" src="{{i.n_img.url}}" alt="{{item.product.name}}" title="{{item.product.name}}">
                                                {% endfor %}
                                            </a> 
                                        </td>
                                        <td class="text-left info-item">
                                            <a href="{% url 'store:product_view' item.product.id %}">{{item.product.name}}</a>
                                            <p class="cart-quantity">×{{item.quantity}}</p>
                                            <p class="cart-price">&#2547;{{item.product.price}}</p>
                                        </td>          
                                        <td class="text-center cart-close">
                                            <button type="button" data-product="{{item.product.id}}" data-action="delete" title="Remove" class="btn btn-danger update-cart btn-xs">
                                                <i class="ion-android-close"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}     
                                </tbody>
                            </table>
                        </li>
                        <li>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="text-left">Sub-Total :</td>
                                        <td class="text-right">&#2547;{{cartTotal}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Charges<span>(Inside Dhaka)</span> :</td>
                                        <td class="text-right">&#2547;{{delivery_charge}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Total :</td>
                                        <td class="text-right">&#2547;{{total}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="text-center cart-button">
                                <a href="{% url 'store:cart' %}">View Cart</a>
                                <a href="#">Checkout</a>
                            </p>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="search-containers pull-right">
                <div class="search-container">
                    <i class="ion-ios-search-strong"></i>
                    <div class="search-content">
                        <div class="container">
                            <div id="search">
                                <h1>Search</h1>
                                    <input type="text" name="search" value="" placeholder="Search" class="form-control input-lg" />
                                    <button type="button" class="btn btn-default btn-lg"><i class="ion-ios-search-strong"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(document).ready(function() {
                        $('.search-container > i').click(function(){
                            $(".search-content").slideToggle();
                            $(this).toggleClass("ion-ios-search-strong ion-android-close")
                        });
                    });
                </script>
            </div>			
        </div>	
	    <div class="container">
		    <div class="main-menu">
				<div class="hozmenu-container">
	                <div class="ma-nav-mobile-container">
		                <div class="hozmenu">
			                <div class="navbar">
				                <div id="navbar-inner" class="navbar-inner navbar-inactive">
						            <div class="menu-mobile">
							            <a class="btn btn-navbar navbar-toggle">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </a>
                                        <span class="brand navbar-brand">Menu</span>
                                    </div>
				
					                <ul id="ma-mobilemenu" class="mobilemenu nav-collapse collapse">
                                        <li class="had_child">
                                            <a href="#">Men</a>
                                        </li>
                                        <li class="no_child">
                                            <a href="#">Accessories</a>
                                        </li>
                                        <li class="had_child">
                                            <a href="#">Women</a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span>Blog </span>
                                            </a>
                                        </li>
                                    </ul> 
				
			                    </div>
			                </div>
		                </div>
	                </div>
                    <div class="nav-container visible-lg visible-md">		
		                <div id="pt_custommenu" class="pt_custommenu">
				            <div id="pt_menu_home" class="pt_menu">
                                <div class="parentMenu">
                                    <a href="{% url 'store:home' %}">
                                        <span>Home</span>
                                    </a>
                                </div>
                            </div>
                            <div id="pt_menu25" class="pt_menu nav-1">
                                <div class="parentMenu">
                                    <a href="http://mimosa4.demo.towerthemes.com/index.php?route=product/category&amp;path=25">
                                        <span>Men</span>
                                    </a>
                                </div>
                            </div>
                            <div id="pt_menu57" class="pt_menu nav-2 pt_menu_no_child">
                                <div class="parentMenu">
                                    <a href="http://mimosa4.demo.towerthemes.com/index.php?route=product/category&amp;path=57">
                                        <span>Accessories</span>
                                    </a>
                                </div>
                            </div>
                            <div id="pt_menu20" class="pt_menu nav-3">
                                <div class="parentMenu">
                                    <a href="http://mimosa4.demo.towerthemes.com/index.php?route=product/category&amp;path=20">
                                        <span>Women</span>
                                    </a>
                                </div>
                            </div>
                            <div id ="pt_menu_link25" class ="pt_menu">
                                <div class="parentMenu" >
                                    <a href="index.php?route=blog/blog">
                                        <span>Blog </span>
                                    </a>
                                </div>
                            </div>
		                </div>
	                </div>
                </div>
                <div id="sticky-menu" data-sticky="1"></div>
                <script type="text/javascript">
                //<![CDATA[
                    var body_class = $('body').attr('class'); 
                    if(body_class.search('common-home') != -1) {
                        $('#pt_menu_home').addClass('act');
                    }	
                var CUSTOMMENU_POPUP_EFFECT =0
                var CUSTOMMENU_POPUP_TOP_OFFSET = 70
                //]]>
                </script>
			</div>
	    </div>
	</div>
</header>
