<div class="opc-hidden">
    <input type="hidden" id="input-opc-status" value="1" />
</div>
<div class="banner7">
    <div class= "oc-banner7-container">
        <div class="flexslider oc-nivoslider">
            <div class="oc-loading"></div>
            <div id="oc-inivoslider1" class="nivoSlider">
                <img style="display: none;" src="http://mimosa4.demo.towerthemes.com/image/cache/catalog/slideshow/slidershow4-2-1920x960.jpg" alt="" title="#banner7-caption2"/>
                <img style="display: none;" src="http://mimosa4.demo.towerthemes.com/image/cache/catalog/slideshow/slidershow4-3-1920x960.jpg" alt="" title="#banner7-caption3"/>
                <img style="display: none;" src="http://mimosa4.demo.towerthemes.com/image/cache/catalog/slideshow/slidershow4-1-1920x960.jpg" alt="" title="#banner7-caption4"/>
            </div>
            <div id="banner7-caption2" class="banner7-caption nivo-html-caption nivo-caption move-slides-effect" data-class="slide-movetype3">
                <div class="timeloading"></div>
                    <div class="container banner7-content slider-3">
                        <div class="text-content">							
                            <h1 class="title1"></h1>
                            <h2 class="sub-title"></h2>
                            <div class="banner7-des">
                                <h3>Women’s</h3>
                                <h3>Lookbook Clothes</h3>
                                <p>Discover the collection as styled by fashion icon Caroline Issa in our new season campaign.</p>            
                            </div>
                            <div class="banner7-readmore">
                                <a class="btn" href="            http://plazathemes.com                " title="Read more">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="banner7-caption3" class="banner7-caption nivo-html-caption nivo-caption move-slides-effect" data-class="slide-movetype2">
                    <div class="timeloading"></div>
                        <div class="container banner7-content slider-2">
                            <div class="text-content">							
                                <h1 class="title1"></h1>
                                <h2 class="sub-title"></h2>
                                <div class="banner7-des">
                                    <h3>Stylish</h3>
                                    <h3>Female Handbag</h3>
                                    <p>Discover the collection as styled by fashion icon Caroline Issa in our new season campaign.</p>            
                                </div>
                                <div class="banner7-readmore">
                                    <a class="btn" href="          http://plazathemes.com                " title="Read more">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="banner7-caption4" class="banner7-caption nivo-html-caption nivo-caption move-slides-effect" data-class="slide-movetype1">
                        <div class="timeloading"></div>
                        <div class="container banner7-content slider-1">
                            <div class="text-content">							
                                <h1 class="title1"></h1>
                                <h2 class="sub-title"></h2>
                                <div class="banner7-des">
                                    <h3>Women’s</h3>
                                    <h3>Lookbook Clothes</h3>
                                    <p>Discover the collection as styled by fashion icon Caroline Issa in our new season campaign.</p>            
                                </div>
                                <div class="banner7-readmore">
                                    <a class="btn" href="            http://plazathemes.com                " title="Read more">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(window).load(function() {
                            $('#oc-inivoslider1').nivoSlider({
                                effect:    "random"  ,
                                slices: 15,
                                boxCols: 8,
                                boxRows: 4,
                                manualAdvance:  false  ,
                                animSpeed: 500,
                                pauseTime:   5000  ,
                                startSlide: 0,
                                controlNav:   true  ,
                                directionNav:   true  ,
                                controlNavThumbs: false,
                                pauseOnHover:   true  ,
                                prevText: '<i class="ion-chevron-left"></i>',
                                nextText: '<i class="ion-chevron-right"></i>',
                                afterLoad: function(){
                                    $('.oc-loading').css("display","none");
                                    $('.timeloading').css('animation-duration'," 5000ms ");
                                },						
                            });
                        });
                    </script>
                    </div>
                </div>
            </div>
            <div id="cmsblock-29"  class="cmsblock">
                <div class='description'>
                    <div class="banner-6">
                        <div class="col-sm-4 col1">
                            <div class="col-img">
                                <img src="image/catalog/cmsblock/banner6-1.jpg" alt="banner 6">
                            </div>
                            <div class="text-content">
                                <h3>For Men</h3>
                                <h3>Clothing Originals</h3>
                                <a href="#">view collection</a>
                            </div>
                        </div>
                        <div class="col-sm-4 col2">
                            <div class="col-img">
                                <img src="image/catalog/cmsblock/banner6-2.jpg" alt="banner 6">
                            </div>
                            <div class="text-content">
                                <h3>For Women</h3>
                                <h3>Summer Collection</h3>
                                <a href="#">view collection</a>
                            </div>
                        </div>
                        <div class="col-sm-4 col3">
                            <div class="col-img">
                                <img src="image/catalog/cmsblock/banner6-3.jpg" alt="banner 6">
                            </div>
                            <div class="text-content">
                                <h3>Accessories</h3>
                                <h3>Handbag Collection</h3>
                                <a href="#">view collection</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>