<div class="main-row ">
    <div class="container">
    <div class="row">
                        <div class="main-col col-sm-12 col-md-12">
                                                            <div class="row sub-row">
                                                    <div class="sub-col col-sm-12 col-md-12">
                                                                                                                <div class="tt_product_module" id="product_module982">
    <div class="module-title">
    <h2>
          Latest Arrivals
      </h2>
      <div class="module-description">
    Mirum est notare quam littera gothica, quam nunc putamus parum claram anteposuerit litterarum formas. 
    </div>
    </div>
                                                                    <div class="tt-product  owl-carousel owl-theme ">	
            
    <!-- Grid -->
                <div class="row_items ">
                                            <div class="product-layout product-grid">
            <div class="product-thumb transition">
                <div class="image">
                    <a href="http://mimosa4.demo.towerthemes.com/index.php?route=product/product&amp;product_id=49">
                        <img class="img-r" src="http://mimosa4.demo.towerthemes.com/image/cache/catalog/products/23-1-500x666.jpg" alt="Topo Designs Woolrich Klettersack Backpack" />								<img src="http://mimosa4.demo.towerthemes.com/image/cache/catalog/products/23-500x666.jpg" alt="Topo Designs Woolrich Klettersack Backpack" title="Topo Designs Woolrich Klettersack Backpack" class="img-responsive" />
                    </a>				  
                                                                                                                                                                            <div class="label-product label_new">New</div>
                                                    
                    <div class="action-links">
                                                        <button class="btn-cart" type="button" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('49');"><i class="ion-bag"></i><span>Add to Cart</span></button>
                                                        <button class="btn-wishlist" type="button" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('49');"><i class="ion-android-favorite-outline"></i><span>Add to Wish List</span></button>
                        <button class="btn-compare" type="button" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('49');"><i class="ion-android-options"></i><span>Compare this Product</span></button>
                                                        <button class="btn-quickview" type="button" data-toggle="tooltip" title="Quick View" onclick="ocquickview.ajaxView('http://mimosa4.demo.towerthemes.com/index.php?route=product/product&amp;product_id=49')"><i class="ion-android-open"></i><span>Quick View</span></button>
                                                    </div>
    
                </div><!-- image -->
                <div class="caption">
                                                <p class="manufacture-product">
                        <a href="http://mimosa4.demo.towerthemes.com/index.php?route=product/manufacturer/info&amp;manufacturer_id=7">Dior</a>
                    </p>
                                                                            <div class="ratings">
                        <div class="rating-box">
                                                                                                                                                                                                        <div class="rating2">rating</div>
                                                                                                                                                                                                                                                                                                        </div>
                    </div>					
                                                <h4 class="product-name"><a href="http://mimosa4.demo.towerthemes.com/index.php?route=product/product&amp;product_id=49">Topo Designs Woolrich Klettersack Backpack</a></h4>                  
                                                                                                            <p class="price">
                                                            $199.99
                                                                                        </p>
                                                                        </div><!-- caption -->
                                    </div><!-- product-thumb -->
                                </div><!-- product-layout -->
    
                                    </div>
                            
    <!-- Grid -->
                <div class="row_items ">
                                            <div class="product-layout product-grid">
            <div class="product-thumb transition">
                <div class="image">
                    <a href="http://mimosa4.demo.towerthemes.com/index.php?route=product/product&amp;product_id=48">
                        <img class="img-r" src="http://mimosa4.demo.towerthemes.com/image/cache/catalog/products/22-1-500x666.jpg" alt="Sopo Designs Woolrich Klettersack Backpack" />								<img src="http://mimosa4.demo.towerthemes.com/image/cache/catalog/products/22-500x666.jpg" alt="Sopo Designs Woolrich Klettersack Backpack" title="Sopo Designs Woolrich Klettersack Backpack" class="img-responsive" />
                    </a>				  
                                                                                                                                                                            <div class="label-product label_new">New</div>
                                                    
                    <div class="action-links">
                                                        <button class="btn-cart" type="button" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('48');"><i class="ion-bag"></i><span>Add to Cart</span></button>
                                                        <button class="btn-wishlist" type="button" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('48');"><i class="ion-android-favorite-outline"></i><span>Add to Wish List</span></button>
                        <button class="btn-compare" type="button" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('48');"><i class="ion-android-options"></i><span>Compare this Product</span></button>
                                                        <button class="btn-quickview" type="button" data-toggle="tooltip" title="Quick View" onclick="ocquickview.ajaxView('http://mimosa4.demo.towerthemes.com/index.php?route=product/product&amp;product_id=48')"><i class="ion-android-open"></i><span>Quick View</span></button>
                                                    </div>
    
                </div><!-- image -->
                <div class="caption">
                                                <p class="manufacture-product">
                        <a href="http://mimosa4.demo.towerthemes.com/index.php?route=product/manufacturer/info&amp;manufacturer_id=8">Chanel</a>
                    </p>
                                                                            <div class="ratings">
                        <div class="rating-box">
                                                                                                                                                                                                                                                                                                                                                <div class="rating4">rating</div>
                                                                                                                                                                </div>
                    </div>					
                                                <h4 class="product-name"><a href="http://mimosa4.demo.towerthemes.com/index.php?route=product/product&amp;product_id=48">Sopo Designs Woolrich Klettersack Backpack</a></h4>                  
                                                                                                            <p class="price">
                                                            $100.00
                                                                                        </p>
                                                                        </div><!-- caption -->
                                    </div><!-- product-thumb -->
                                </div><!-- product-layout -->
    
                                    </div>
                            
    <!-- Grid -->
                <div class="row_items ">
                                            <div class="product-layout product-grid">
            <div class="product-thumb transition">
                <div class="image">
                    <a href="http://mimosa4.demo.towerthemes.com/index.php?route=product/product&amp;product_id=47">
                        <img class="img-r" src="http://mimosa4.demo.towerthemes.com/image/cache/catalog/products/21-1-500x666.jpg" alt="Uopo Designs Woolrich Klettersack Backpack" />								<img src="http://mimosa4.demo.towerthemes.com/image/cache/catalog/products/21-500x666.jpg" alt="Uopo Designs Woolrich Klettersack Backpack" title="Uopo Designs Woolrich Klettersack Backpack" class="img-responsive" />
                    </a>				  
                                                                                                                                                                            <div class="label-product label_new">New</div>
                                                    
                    <div class="action-links">
                                                        <button class="btn-cart" type="button" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('47');"><i class="ion-bag"></i><span>Add to Cart</span></button>
                                                        <button class="btn-wishlist" type="button" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('47');"><i class="ion-android-favorite-outline"></i><span>Add to Wish List</span></button>
                        <button class="btn-compare" type="button" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('47');"><i class="ion-android-options"></i><span>Compare this Product</span></button>
                                                        <button class="btn-quickview" type="button" data-toggle="tooltip" title="Quick View" onclick="ocquickview.ajaxView('http://mimosa4.demo.towerthemes.com/index.php?route=product/product&amp;product_id=47')"><i class="ion-android-open"></i><span>Quick View</span></button>
                                                    </div>
    
                </div><!-- image -->
                <div class="caption">
                                                <p class="manufacture-product">
                        <a href="http://mimosa4.demo.towerthemes.com/index.php?route=product/manufacturer/info&amp;manufacturer_id=7">Dior</a>
                    </p>
                                                                            <div class="ratings">
                        <div class="rating-box">
                                                                                                                                                                                                                                                                            <div class="rating3">rating</div>
                                                                                                                                                                                                                                    </div>
                    </div>					
                                                <h4 class="product-name"><a href="http://mimosa4.demo.towerthemes.com/index.php?route=product/product&amp;product_id=47">Uopo Designs Woolrich Klettersack Backpack</a></h4>                  
                                                                                                            <p class="price">
                                                            $100.00
                                                                                        </p>
                                                                        </div><!-- caption -->
                                    </div><!-- product-thumb -->
                                </div><!-- product-layout -->
    
                                    </div>
                            
    <!-- Grid -->
                <div class="row_items ">
                                            <div class="product-layout product-grid">
            <div class="product-thumb transition">
                <div class="image">
                    <a href="http://mimosa4.demo.towerthemes.com/index.php?route=product/product&amp;product_id=46">
                        <img class="img-r" src="http://mimosa4.demo.towerthemes.com/image/cache/catalog/products/16-1-500x666.jpg" alt="Ropo Designs Woolrich Klettersack Backpack" />								<img src="http://mimosa4.demo.towerthemes.com/image/cache/catalog/products/16-500x666.jpg" alt="Ropo Designs Woolrich Klettersack Backpack" title="Ropo Designs Woolrich Klettersack Backpack" class="img-responsive" />
                    </a>				  
                                                                                                                                                                            <div class="label-product label_new">New</div>
                                                    
                    <div class="action-links">
                                                        <button class="btn-cart" type="button" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('46');"><i class="ion-bag"></i><span>Add to Cart</span></button>
                                                        <button class="btn-wishlist" type="button" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('46');"><i class="ion-android-favorite-outline"></i><span>Add to Wish List</span></button>
                        <button class="btn-compare" type="button" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('46');"><i class="ion-android-options"></i><span>Compare this Product</span></button>
                                                        <button class="btn-quickview" type="button" data-toggle="tooltip" title="Quick View" onclick="ocquickview.ajaxView('http://mimosa4.demo.towerthemes.com/index.php?route=product/product&amp;product_id=46')"><i class="ion-android-open"></i><span>Quick View</span></button>
                                                    </div>
    
                </div><!-- image -->
                <div class="caption">
                                                <p class="manufacture-product">
                        <a href="http://mimosa4.demo.towerthemes.com/index.php?route=product/manufacturer/info&amp;manufacturer_id=10">IVY Moda</a>
                    </p>
                                                                            <div class="ratings">
                        <div class="rating-box">
                                                                                                                                                                                                                                                                                                                                                                                                                    <div class="rating5">rating</div>
                                                                                            </div>
                    </div>					
                                                <h4 class="product-name"><a href="http://mimosa4.demo.towerthemes.com/index.php?route=product/product&amp;product_id=46">Ropo Designs Woolrich Klettersack Backpack</a></h4>                  
                                                                                                            <p class="price">
                                                            $1,000.00
                                                                                        </p>
                                                                        </div><!-- caption -->
                                    </div><!-- product-thumb -->
                                </div><!-- product-layout -->
    
                                    </div>
                            
    <!-- Grid -->
                <div class="row_items ">
                                            <div class="product-layout product-grid">
            <div class="product-thumb transition">
                <div class="image">
                    <a href="http://mimosa4.demo.towerthemes.com/index.php?route=product/product&amp;product_id=45">
                        <img class="img-r" src="http://mimosa4.demo.towerthemes.com/image/cache/catalog/products/15-1-500x666.jpg" alt="Qopo Designs Woolrich Klettersack Backpack" />								<img src="http://mimosa4.demo.towerthemes.com/image/cache/catalog/products/15-500x666.jpg" alt="Qopo Designs Woolrich Klettersack Backpack" title="Qopo Designs Woolrich Klettersack Backpack" class="img-responsive" />
                    </a>				  
                                                                                                                                                                            <div class="label-product label_new">New</div>
                                                    
                    <div class="action-links">
                                                        <button class="btn-cart" type="button" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('45');"><i class="ion-bag"></i><span>Add to Cart</span></button>
                                                        <button class="btn-wishlist" type="button" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('45');"><i class="ion-android-favorite-outline"></i><span>Add to Wish List</span></button>
                        <button class="btn-compare" type="button" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('45');"><i class="ion-android-options"></i><span>Compare this Product</span></button>
                                                        <button class="btn-quickview" type="button" data-toggle="tooltip" title="Quick View" onclick="ocquickview.ajaxView('http://mimosa4.demo.towerthemes.com/index.php?route=product/product&amp;product_id=45')"><i class="ion-android-open"></i><span>Quick View</span></button>
                                                    </div>
    
                </div><!-- image -->
                <div class="caption">
                                                <p class="manufacture-product">
                        <a href="http://mimosa4.demo.towerthemes.com/index.php?route=product/manufacturer/info&amp;manufacturer_id=10">IVY Moda</a>
                    </p>
                                                                            <div class="ratings">
                        <div class="rating-box">
                                                                                                                                    <div class="rating1">rating</div>
                                                                                                                                                                                                                                                                                                                                                                            </div>
                    </div>					
                                                <h4 class="product-name"><a href="http://mimosa4.demo.towerthemes.com/index.php?route=product/product&amp;product_id=45">Qopo Designs Woolrich Klettersack Backpack</a></h4>                  
                                                                                                            <p class="price">
                                                            $2,000.00
                                                                                        </p>
                                                                        </div><!-- caption -->
                                    </div><!-- product-thumb -->
                                </div><!-- product-layout -->
    
                                    </div>
                            
    <!-- Grid -->
                <div class="row_items ">
                                            <div class="product-layout product-grid">
            <div class="product-thumb transition">
                <div class="image">
                    <a href="http://mimosa4.demo.towerthemes.com/index.php?route=product/product&amp;product_id=44">
                        <img class="img-r" src="http://mimosa4.demo.towerthemes.com/image/cache/catalog/products/14-1-500x666.jpg" alt="Popo Designs Woolrich Klettersack Backpack" />								<img src="http://mimosa4.demo.towerthemes.com/image/cache/catalog/products/14-500x666.jpg" alt="Popo Designs Woolrich Klettersack Backpack" title="Popo Designs Woolrich Klettersack Backpack" class="img-responsive" />
                    </a>				  
                                                                                                                                                                            <div class="label-product label_new">New</div>
                                                    
                    <div class="action-links">
                                                        <button class="btn-cart" type="button" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('44');"><i class="ion-bag"></i><span>Add to Cart</span></button>
                                                        <button class="btn-wishlist" type="button" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('44');"><i class="ion-android-favorite-outline"></i><span>Add to Wish List</span></button>
                        <button class="btn-compare" type="button" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('44');"><i class="ion-android-options"></i><span>Compare this Product</span></button>
                                                        <button class="btn-quickview" type="button" data-toggle="tooltip" title="Quick View" onclick="ocquickview.ajaxView('http://mimosa4.demo.towerthemes.com/index.php?route=product/product&amp;product_id=44')"><i class="ion-android-open"></i><span>Quick View</span></button>
                                                    </div>
    
                </div><!-- image -->
                <div class="caption">
                                                <p class="manufacture-product">
                        <a href="http://mimosa4.demo.towerthemes.com/index.php?route=product/manufacturer/info&amp;manufacturer_id=7">Dior</a>
                    </p>
                                                                            <div class="ratings">
                        <div class="rating-box">
                                                                                                                                                                                                        <div class="rating2">rating</div>
                                                                                                                                                                                                                                                                                                        </div>
                    </div>					
                                                <h4 class="product-name"><a href="http://mimosa4.demo.towerthemes.com/index.php?route=product/product&amp;product_id=44">Popo Designs Woolrich Klettersack Backpack</a></h4>                  
                                                                                                            <p class="price">
                                                            $1,000.00
                                                                                        </p>
                                                                        </div><!-- caption -->
                                    </div><!-- product-thumb -->
                                </div><!-- product-layout -->
    
                                    </div>
                    
    </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function() {
    $("#product_module982 .tt-product").owlCarousel({
        loop:  true ,
        margin:  30 ,
        nav:  true ,
        dots:  false ,
        autoplay:   false ,
        autoplayTimeout:  3000 ,
        autoplayHoverPause: true,
        autoplaySpeed:  1000 ,
        navSpeed:  1000 ,
        dotsSpeed:  1000 ,
        lazyLoad: true,
        navText : ['<i class="ion-chevron-left"></i>','<i class="ion-chevron-right"></i>'],
        responsive:{
            0:{
                items: 1
            },
            481:{
                items: 2
            },
            769:{
                items: 2
            },
            1024:{
                items: 3
            },
            1200:{
                items: 4
            },
        }
    });
    
    });
    </script>
    
                                                                            <div id="blog_home" class="menu-recent owl-style3">
    <div>
    <div class="blog-title module-title">
    <h2>From Our Blog</h2>
    <p class="module-description">Mirum est notare quam littera gothica, quam nunc putamus parum claram anteposuerit litterarum formas.</p>
    </div>
         
            <div class="articles-container owl-carousel owl-theme">
                                    <div class="row_items">
                                            <div class="articles-inner item-inner">
                <div class="articles-image">
                    <img src="http://mimosa4.demo.towerthemes.com/image/cache/catalog/blog/blog1-370x235.jpg" alt="Aypi non habent claritatem  insitam."/>
                    <div class="articles-date">
                        Aug
                        <span>09</span>
                    </div>
                </div>
                <div class="aritcles-content">
                    <a class="articles-name" href="http://mimosa4.demo.towerthemes.com/index.php?route=blog/article&amp;article_id=1">Aypi non habent claritatem  insitam.</a>
                                                    
                        <span>Plazathemes</span>
                                                
                    <div class="articles-intro">Aypi non habent claritatem  insitam. Aypi non habent claritatem  insitam. Aypi non habent claritatem  insitam.Aypi non habent claritatem  insitam. Aypi non habent claritatem  insitam.</div>
                    <div class="readmore"><a href="http://mimosa4.demo.towerthemes.com/index.php?route=blog/article&amp;article_id=1">Read more ...</a></div>
                </div>												
            </div>
                        </div>
                                                    <div class="row_items">
                                            <div class="articles-inner item-inner">
                <div class="articles-image">
                    <img src="http://mimosa4.demo.towerthemes.com/image/cache/catalog/blog/blog2-370x235.jpg" alt="Bypi non habent claritatem  insitam."/>
                    <div class="articles-date">
                        Aug
                        <span>09</span>
                    </div>
                </div>
                <div class="aritcles-content">
                    <a class="articles-name" href="http://mimosa4.demo.towerthemes.com/index.php?route=blog/article&amp;article_id=2">Bypi non habent claritatem  insitam.</a>
                                                    
                        <span>Plazathemes</span>
                                                
                    <div class="articles-intro">Aypi non habent claritatem  insitam. Aypi non habent claritatem  insitam. Aypi non habent claritatem  insitam.Aypi non habent claritatem  insitam. Aypi non habent claritatem  insitam. <br></div>
                    <div class="readmore"><a href="http://mimosa4.demo.towerthemes.com/index.php?route=blog/article&amp;article_id=2">Read more ...</a></div>
                </div>												
            </div>
                        </div>
                                                    <div class="row_items">
                                            <div class="articles-inner item-inner">
                <div class="articles-image">
                    <img src="http://mimosa4.demo.towerthemes.com/image/cache/catalog/blog/blog3-370x235.jpg" alt="Cypi non habent claritatem  insitam."/>
                    <div class="articles-date">
                        Aug
                        <span>09</span>
                    </div>
                </div>
                <div class="aritcles-content">
                    <a class="articles-name" href="http://mimosa4.demo.towerthemes.com/index.php?route=blog/article&amp;article_id=3">Cypi non habent claritatem  insitam.</a>
                                                    
                        <span>Plazathemes</span>
                                                
                    <div class="articles-intro">Aypi non habent claritatem  insitam. Aypi non habent claritatem  insitam. Aypi non habent claritatem  insitam.Aypi non habent claritatem  insitam. Aypi non habent claritatem  insitam. <br></div>
                    <div class="readmore"><a href="http://mimosa4.demo.towerthemes.com/index.php?route=blog/article&amp;article_id=3">Read more ...</a></div>
                </div>												
            </div>
                        </div>
                                                    <div class="row_items">
                                            <div class="articles-inner item-inner">
                <div class="articles-image">
                    <img src="http://mimosa4.demo.towerthemes.com/image/cache/catalog/blog/blog1-370x235.jpg" alt="Dypi non habent claritatem  insitam."/>
                    <div class="articles-date">
                        Aug
                        <span>09</span>
                    </div>
                </div>
                <div class="aritcles-content">
                    <a class="articles-name" href="http://mimosa4.demo.towerthemes.com/index.php?route=blog/article&amp;article_id=4">Dypi non habent claritatem  insitam.</a>
                                                    
                        <span>Plazathemes</span>
                                                
                    <div class="articles-intro">Aypi non habent claritatem  insitam. Aypi non habent claritatem  insitam. Aypi non habent claritatem  insitam.Aypi non habent claritatem  insitam. Aypi non habent claritatem  insitam. <br></div>
                    <div class="readmore"><a href="http://mimosa4.demo.towerthemes.com/index.php?route=blog/article&amp;article_id=4">Read more ...</a></div>
                </div>												
            </div>
                        </div>
                                </div>
    </div>
    
    </div>
    <script type="text/javascript">
    $(document).ready(function() {
    $(".articles-container").owlCarousel({
    autoPlay :  false ,
    items : 3,
    margin: 30,
    loop: true,			
    navSpeed : 1000,
    dotsSpeed : 1000,
    autoplaySpeed : 1000,
    nav :  true ,
    dots :  false ,
    navText : ['<i class="ion-chevron-left"></i>','<i class="ion-chevron-right"></i>'],
    responsive:{
        0:{
            items: 1
        },
        480:{
            items: 1
        },
        640:{
            items: 2
        },
        991:{
            items: 2
        },
        1200:{
            items: 3
        }
    }
    });
    });
    </script>
    {% include 'components/memberDiscount.html' %}
                                                                                                    </div>
                                            </div>
                                                    </div>
                    </div>
    </div>
    </div>