<div class="main-row ">
    <div class="container">
        <div class="row">
            <div class="main-col col-sm-12 col-md-12">
                <div class="row sub-row">
                    <div class="sub-col col-sm-12 col-md-12">
                        <div class="tt_product_module" id="product_module982">
                            <div class="module-title">
                                <h2>
                                    Latest Arrivals
                                </h2>
                                <div class="module-description">
                                    Mirum est notare quam littera gothica, quam nunc putamus parum claram anteposuerit litterarum formas. 
                                </div>
                            </div>
                            <div class="tt-product  owl-carousel owl-theme ">	
            
                                <!-- Grid -->
                                {% for i in ltproducts %}
                                <div class="row_items ">
                                    <div class="product-layout product-grid">
                                        <div class="product-thumb transition">
                                            <div class="image">
                                                <a href="{% url 'store:product_view' i.id %}">
                                                    <img class="img-r" src="{{i.image_2}}" alt="{{i.name}}" />
                                                    <img src="{{i.image_1}}" alt="{{i.name}}" title="{{i.name}}" class="img-responsive" />
                                                </a>			  
                                                <div class="label-product label_new">New</div>
                                                    
                                                <div class="action-links">
                                                    <button class="btn-cart update-cart" type="button" data-product={{i.id}} data-size="{{i.first_size}}" data-color="{{i.first_color}}" data-action="add" title="Add to Cart">
                                                        <i class="ion-bag"></i>
                                                        <span>Add to Cart</span>
                                                    </button>
                                                    <button class="btn-wishlist" type="button" data-toggle="tooltip" title="Add to Wish List">
                                                        <i class="ion-android-favorite-outline"></i>
                                                        <span>Add to Wish List</span>
                                                    </button>
                                                    <button class="btn-compare" type="button" data-toggle="tooltip" title="Compare this Product">
                                                        <i class="ion-android-options"></i>
                                                        <span>Compare this Product</span>
                                                    </button>
                                                    <button class="btn-quickview" type="button" data-toggle="tooltip" title="Quick View">
                                                        <i class="ion-android-open"></i>
                                                        <span>Quick View</span>
                                                    </button>
                                                </div>
    
                                            </div><!-- image -->
                                            <div class="caption">
                                                <p class="manufacture-product">
                                                    <a href="{% url 'store:product_view' i.id %}">{{i.product_code}}</a>
                                                </p>
                                                
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        {% if i.rate <= 0 %}
                                                        <div class="rating0">rating</div>
                                                        {% elif i.rate <= 1 %}
                                                        <div class="rating1">rating</div>
                                                        {% elif i.rate <= 2 %}
                                                        <div class="rating2">rating</div>
                                                        {% elif i.rate <= 3 %}
                                                        <div class="rating3">rating</div>
                                                        {% elif i.rate <= 4 %}
                                                        <div class="rating4">rating</div>
                                                        {% elif i.rate <= 5 %}
                                                        <div class="rating5">rating</div>
                                                        {% endif %}
                                                    </div>
                                                </div> 
                                                <h4 class="product-name">
                                                    <a href="{% url 'store:product_view' i.id %}">{{ i.name }}</a>
                                                </h4>                  
                                                <p class="price">&#2547;{{i.price}}</p>
                                            </div><!-- caption -->
                                        </div><!-- product-thumb -->
                                    </div><!-- product-layout -->
                                </div>
                                {% endfor %}<!-- Grid -->
                            </div>
                        </div>
                        <script type="text/javascript">
                        $(document).ready(function() {
                        $("#product_module982 .tt-product").owlCarousel({
                            loop:  true ,
                            margin:  30 ,
                            nav:  true ,
                            dots:  false ,
                            autoplay:   false ,
                            autoplayTimeout:  3000 ,
                            autoplayHoverPause: true,
                            autoplaySpeed:  1000 ,
                            navSpeed:  1000 ,
                            dotsSpeed:  1000 ,
                            lazyLoad: true,
                            navText : ['<i class="ion-chevron-left"></i>','<i class="ion-chevron-right"></i>'],
                            responsive:{
                                0:{
                                    items: 1
                                },
                                481:{
                                    items: 2
                                },
                                769:{
                                    items: 2
                                },
                                1024:{
                                    items: 3
                                },
                                1200:{
                                    items: 4
                                },
                            }
                        });
                        
                        });
                        </script>
    
                         
                        {% include 'components/blog.html' %}    
                        {% include 'components/memberDiscount.html' %}                                                   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>