<div class="newletter-subscribe-container">
    <div>
    <div class="newletter-subscribe">
    <div id="boxes-normal" class="newletter-container">
    <div id="dialog-normal" class="window">
    <div class="box">
        <div class="newletter-title">
            <h6>Special Ofers For Subscribers</h6>
            <h3>Ten Percent Member Discount</h3>					
        </div>
        <div class="box-content newleter-content">
            <div class="des-testimonial">
                Subscribe to our newsletters now and stay up to date with new collections, the latest lookbooks and exclusive offers.
            </div>
            <div id="frm_subscribe-normal">
                <form name="subscribe" id="subscribe" method="POST">
                    {% csrf_token %}
                    {% if request.user.is_authenticated %}
                    <input type="text" value="{{request.user.email}}" name="subscribe_email" id="subscribe_email" placeholder="Enter you email address here...">
                    {% else %}
                    <input type="text" value="" name="subscribe_email" id="subscribe_email" placeholder="Enter you email address here...">
                    {% endif %}
                    <a class="btn" onclick="document.getElementById('subscribe').submit();"><span>Subscribe</span><i class="fa-envelope-o fa"></i></a>
                       
                </form>
            </div><!-- /#frm_subscribe -->
            <div id="notification-normal"></div>
        </div><!-- /.box-content -->
    </div>
    </div>
    <script type="text/javascript">
    function email_subscribe(){
    $.ajax({
    type: 'post',
    url: 'index.php?route=extension/module/newslettersubscribe/subscribe',
    dataType: 'html',
    data:$("#subscribe").serialize(),
    success: function (html) {
    try {
        eval(html);
    } 
    catch (e) {
    }				
    }});
    }
    function email_unsubscribe(){
    $.ajax({
    type: 'post',
    url: 'index.php?route=extension/module/newslettersubscribe/unsubscribe',
    dataType: 'html',
    data:$("#subscribe").serialize(),
    success: function (html) {
    try {
    
        eval(html);
    
    } catch (e) {
    }
    }}); 
    $('html, body').delay( 1500 ).animate({ scrollTop: 0 }, 'slow'); 
    }
    </script>
    <script type="text/javascript">
    $(document).ready(function() {
    $('#subscribe_email').keypress(function(e) {
    if(e.which == 13) {
        e.preventDefault();
        email_subscribe();
    }
    var name= $(this).val();
      $('#subscribe_name').val(name);
    });
    $('#subscribe_email').change(function() {
    var name= $(this).val();
          $('#subscribe_name').val(name);
    });
    
    });
    </script>
    </div>
    </div>
    </div>
    </div>