<div class="main-row ">
    <div class="container">
        <div class="row">
            <div class="main-col col-sm-12 col-md-12">
                <div class="row sub-row">
                    <div class="sub-col col-sm-12 col-md-12">
                        <div class="tt_tabsproduct_module multi-rows" id="product_module180">
                            <div class="module-title">
                                <h2>
                                    Mostviewed products
                                </h2>
                                <div class="module-description">
                                    Mirum est notare quam littera gothica, quam nunc putamus parum claram anteposuerit litterarum formas.
                                </div>
                            </div>
                            <div class="tt-product">
                                <ul class="tab-heading nav nav-pills">
                                    {% for l in mvCategorys %}
                                    <li><a data-toggle="pill" href="{% cycle '#tab-0' '#tab-1' '#tab-2' '#tab-3' '#tab-4' '#tab-5' %}">{{l.name}}</a></li>
                                    {% endfor %}
                                </ul>
                                <div class="tab-content">
                                    {% for k in  mvproducts%}
                                    <div class="tab-container  owl-carousel owl-theme  tab-pane fade" id="{% cycle 'tab-0' 'tab-1' 'tab-2' 'tab-3' 'tab-4' 'tab-5' %}">
                                        {% for j in k %}
                                        <div class="row_items ">
                                            {% for i in j %}                         
                                            <div class="product-layout product-grid">
                                                <div class="product-thumb transition">
                                                    <div class="image">
                                                        <a href="{% url 'store:product_view' i.id %}">
                                                            <img class="img-r" src="{{i.image_2}}" alt="{{i.name}}" />
                                                            <img src="{{i.image_1}}" alt="{{i.name}}" title="{{i.name}}" class="img-responsive" />
                                                        </a>
                                                        {% if i.featured %}
                                                        <div class="label-product label_sale">Sale</div>
                                                        {% endif %}			  
                                                        <div class="action-links">
                                                            <button class="btn-cart update-cart" type="button" data-product={{i.id}} data-size="{{i.first_size}}" data-color="{{i.first_color}}" data-action="add" title="Add to Cart">
                                                                <i class="ion-bag"></i>
                                                                <span>Add to Cart</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="caption">
                                                        <p class="manufacture-product">
                                                            <a href="{% url 'store:product_view' i.id %}">{{i.product_code}}</a>
                                                        </p>
                                                        <div class="ratings">
                                                            <div class="rating-box">
                                                                {% if i.rate <= 0 %}
                                                                <div class="rating0">rating</div>
                                                                {% elif i.rate <= 1 %}
                                                                <div class="rating1">rating</div>
                                                                {% elif i.rate <= 2 %}
                                                                <div class="rating2">rating</div>
                                                                {% elif i.rate <= 3 %}
                                                                <div class="rating3">rating</div>
                                                                {% elif i.rate <= 4 %}
                                                                <div class="rating4">rating</div>
                                                                {% elif i.rate <= 5 %}
                                                                <div class="rating5">rating</div>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <h4 class="product-name">
                                                            <a href="{% url 'store:product_view' i.id %}">{{ i.name }}</a>
                                                        </h4>                  
                                                        <p class="price">&#2547;{{i.price}}</p>
                                                    </div>
                                                </div>
                                            </div> 
                                            {% endfor %}
                                        </div>
                                        {% endfor %}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                        $('a[href="#tab-0').trigger( "click" );
                        $(document).ready(function() {
                        $(".tab-container").owlCarousel({
                        items: 4,
                        loop:  false ,
                        margin:  30 ,
                        nav:  true ,
                        dots:  false ,
                        autoplay:   false ,
                        autoplayTimeout:  3000 ,
                        autoplayHoverPause: true,
                        autoplaySpeed:  1000 ,
                        navSpeed:  1000 ,
                        dotsSpeed:  1000 ,
                        lazyLoad: true,
                        navText : ['<i class="ion-chevron-left"></i>','<i class="ion-chevron-right"></i>'],
                        responsive:{
                        0:{
                        items: 1
                        },
                        481:{
                        items: 2
                        },
                        769:{
                        items: 2
                        },
                        1024:{
                        items: 3
                        },
                        1200:{
                        items: 4
                        },
                        }
                        });

                        });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>