<div class="main-row full-width">
    <div class="container">
        <div class="row">
            <div class="main-col col-sm-12 col-md-12">
                <div class="row sub-row">
                    <div class="sub-col col-sm-12 col-md-12">
                        <div id="cmsblock-28"  class="cmsblock">
                            <div class='description'>
                                <div class="banner-5">
                                    {% for i in sncimage %}		
                                    <div class="col-sm-6">
                                        <div class="col-img">
                                            <a href="{% url 'store:category_view' i.estimated_category.id %}">
                                                <img src="{{i.img.url}}" alt="">
                                            </a>
                                        </div>
                                        <div class="text-content">
                                            <h3>{{i.title}}</h3>
                                            <h2>{{i.sub_title}}</h2>
                                            <h2>{{i.category_for}}</h2>
                                            <a href="{% url 'store:category_view' i.estimated_category.id %}">Shop now</a>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>															 									 									 									 									 									 									 									</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>