{% extends 'main.html' %}


{% block content %}

<script type="text/javascript">
    document.body.classList.add(
        'common-home',
        'home4',
        'group1'
        );
</script>

<div id="content">
    <div class="main-row full-width">
        <div class="container">
            <div class="row">
                <div class="main-col col-sm-12 col-md-12">
                    <div class="row sub-row">
                        <div class="sub-col col-sm-12 col-md-12">

                            {% include 'components/newsletter.html' %}
                            {% include 'components/loginRegistration.html' %}
                            {% include 'components/homeBanner.html' %}
                            
                        </div>
                    </div>
                </div>
                {% include 'components/mostViewedProducts.html' %}
                {% include 'components/newArrivals.html' %}
                {% include 'components/latestArrivals.html' %}    
            </div>
        </div>
    </div>
</div>        
{% endblock %}